version: '3.8'

services:
  apache:
    image: thecodingmachine/php:8.0-v4-apache
    volumes:
      - $PWD:/var/www/html:rw,cached
    environment:
      DATABASE_URL: postgres://hasura:hasura@postgres/hasura
      HASURA_BASE_URI: http://hasura:8080
      PHP_EXTENSION_PDO_PGSQL: 1
      APACHE_DOCUMENT_ROOT: public/
    ports:
      - protocol: tcp
        target: 80
        published: 80

  postgres:
    image: postgres:13-alpine
    volumes:
      - $PWD/docker/postgres/initdb.d:/docker-entrypoint-initdb.d
    ports:
      - protocol: tcp
        target: 5432
        published: 5432
    environment:
      POSTGRES_DB: hasura
      POSTGRES_USER: hasura
      POSTGRES_PASSWORD: hasura

  hasura:
    image: hasura/graphql-engine:v2.1.0
    restart: on-failure
    environment:
      HASURA_GRAPHQL_EXPERIMENTAL_FEATURES: 'inherited_roles'
      HASURA_GRAPHQL_ADMIN_SECRET: 'test'
      HASURA_GRAPHQL_ENABLE_REMOTE_SCHEMA_PERMISSIONS: 'true'
      HASURA_GRAPHQL_DATABASE_URL: postgres://hasura:hasura@postgres/hasura
      HASURA_GRAPHQL_DEV_MODE: 'true'
      HASURA_GRAPHQL_ENABLE_CONSOLE: 'true'
    ports:
      - protocol: tcp
        target: 8080
        published: 8080
    depends_on:
      - apache
      - postgres