# Hasura Chart for Kubernetes

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

[Learn more about Hasura.](https://hasura.io)

## Installing the Chart

To install the chart with the release name `my-release`, run the following commands:

    helm repo add hasura-extra https://hasura-extra.github.io/hasura-extra
    helm install my-release hasura-extra/{{ template "chart.name" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
